---
---
<section>
    <div class="pt-20">
        <h2 class=" text-5xl font-bold tracki text-center sm:text-5xl dark:text-gray-50">Clients </h2>
        <p class="max-w-3xl mx-auto mt-4 text-xl text-center dark:text-gray-400">Working with both Timor and international business</p>
    </div>
    <div class=" flex flex-row items-center justify-evenly pt-10">
        <div><img src="/clients/australia-dfat-logo-u.png"/></div>
        <div><img src="/clients/rdtl-logo-u.png"/></div>
        <div><img src="/clients/rms-civil-engineering-and-construction-logo-u.png"/></div>

    </div>

</section>
