---

---

<section class="container mx-auto">
    <div class="flex items-center py-12">
        <div class="flex-1">
            <h1 class="text-5xl font-bold leadi">Our Expertise</h1>
            <p class="text-lg mt-4">
                Laboratories, systems and processes are all NATA accredited, ensuring compliance to the highest industry standards. Certified as a Quality Endorsed Company. We offer a broad range
                of expert soil testing services either onsite or in our lab, including:
            </p>
            <ul class="list-disc p-8 mt-2 dark:text-gray-400">
                <li>Soil preparation for testing (AS1289.1)</li>
                <li>Soil moisture content testing (AS1289.2)</li>
                <li>Soil classification testing (AS1289.3)</li>
                <li>Soil chemical testing (AS1289.4)</li>
                <li>Soil compaction and density testing (AS1289.5)</li>
                <li>Soil strength and consolidated testing (AS1289.6)</li>
                <li>Soil reactivity testing (AS1289.7)</li>
            </ul>
        </div>
        <div class="">
            <img
                src="standards/Certifed-Soil-Testing-ISO 1.png"
                alt="Certified Soil Testing ISO"
                class="h-auto mt-7"
            />
        </div>
    </div>
</section>
