---
import ProjectCard from "./ProjectCard.astro";
---
<section>
    <h1 class="text-5xl font-bold mb-4 mt-20">Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <ProjectCard title="Project Name" image="/projects/gallery11.jpg" body="Text information about the project Text information about the project" href="Your Href" />
    <ProjectCard title="Project Name" image="/projects/gallery11.jpg" body="Text information about the service Text information about the project" href="Your Href" />
    <ProjectCard title="Project Name" image="/projects/gallery11.jpg" body="Text information about the service Text information about the project" href="Your Href" />
  </div>
</section>