---
import Card from "./Card.astro";
---
<section>
    <h1 class="text-5xl font-bold mb-4">Services</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <Card title="Geotechnical Investigations" body="Text information about the service" href="Your Href" />
    <Card title="Soil Sampling and Testing" body="Text information about the service" href="Your Href" />
    <Card title="Seismic Analysis and Design" body="Text information about the service" href="Your Href" />
    <Card title="Landslide/Slope Stability" body="Text information about the service" href="Your Href" />
    <Card title="Compaction Testing" body="Text information about the service" href="Your Href" />
    <Card title="Geo Laboratory Testing" body="Text information about the service" href="Your Href" />
    <Card title="Earthwork Inspection & Supervision" body="Text information about the service" href="Your Href" />
    <Card title="Slope Stability Analysis" body="Text information about the service" href="Your Href" />
    <Card title="Soil classification report" body="Text information about the service" href="Your Href" />
  </div>
</section>